<?php
$i = 0;
if (count($fiches)>0) : ?>
<div class="badge-container">
    <?php foreach($fiches as $fiche): $i = $i+1; ?>
          <div class="qrbadge bazar-entry" <?php echo $fiche['html_data'];?>>
            <?php
            $fiche = array_map(
              function($a) {
                  if (is_array($a)) {
                    return array_map('trim', $a);
                  } else {
                    return trim($a);
                  }
              },
              $fiche
            );

            $qrcode = 'BEGIN:VCARD'."\n";
            $qrcode .= 'VERSION:2.1'."\n";
            $qrcode .= 'FN:'.$fiche['bf_titre']."\n";
            $qrcode .= 'N:'.$fiche['bf_titre']."\n";
            if (!empty($fiche['bf_telephone'])) {
              $qrcode .= 'TEL;HOME;VOICE:'.$fiche['bf_telephone']."\n";
            }
            if (!empty($fiche['bf_mail'])) {
              $qrcode .= 'EMAIL;HOME;INTERNET:'.$fiche['bf_mail']."\n";
            }
            $qrcode .= 'URL:'.$GLOBALS['wiki']->href('', $fiche['id_fiche'])."\n";
            $qrcode .= 'ADR:;;'.$fiche['bf_adresse'].';'.$fiche['bf_ville'].';;'.$fiche['bf_code_postal']."\n";
            if (!empty($fiche['bf_structure'])) {
              $qrcode .= 'ORG:'.$fiche['bf_structure']."\n";
            }
            $qrcode .= 'END:VCARD'."\n";

            include_once 'tools/qrcode/libs/qrlib.php';
            $cache_image = 'cache'.DIRECTORY_SEPARATOR.'qrcode-'.$GLOBALS['wiki']->getPageTag().'-'.md5($qrcode.$this->wiki->config['qrcode_config']['QR_CORRECTION']).'.png';
            if (!file_exists($cache_image)) {
                QRcode::png($qrcode, $cache_image, $this->wiki->config['qrcode_config']['QR_CORRECTION'], 4, 2);
            }
            ?>
          <div class="badge-info">
            <h4><?php echo $fiche['bf_titre']; ?></h4>

            <?php if (!empty($fiche['bf_structure'])) : ?><strong><?php echo $fiche['bf_structure']; ?></strong><br><br><?php endif; ?>
            <?php echo $fiche['bf_fonction']; ?>
          </div>
          <img class="img-qrcode" src="<?php echo $cache_image; ?>" alt="qrcode">
        </div>
        <?php if (($i % 4 == 0)) { echo '<div class="break"></div>'; } ?>
    <?php endforeach; ?>
  </div>
  <style>
  .badge-container {width:210mm;margin:0 auto;}
  .qrbadge {
    border:1px solid #ddd;
    margin: 30mm 9mm 9mm 9mm; 
    padding: 2mm;
    display: inline-block;
    width: 85mm;
    height: 108mm;
    overflow:hidden;
    position: relative;
    font-size: 10pt;
  }
  .badge-info {text-align: center;}
  .img-qrcode {position: absolute; width:60mm; height:60mm; bottom: 0mm; left: 12mm;}
  .qrbadge h4 { font-size: 16pt; color:#61b32e !important; margin: 3mm 0mm; }

  @media print {
     #yw-header, #yw-footer, #yw-topnav, .footer, #search-form, .export-links { display:none; }
     .page, #yw-container, .badge-container {padding:0;width:100%;margin:0;}
     .qrbadge { border:none;}
     /*.qrbadge { width:85mm; height:108mm; margin:30mm 9mm 9mm 9mm; padding: 2mm; font-size: 10pt; border:none; }
     .qrbadge h4 { font-size: 16pt; color:#61b32e; margin: 3mm 5mm; }
     .img-qrcode {position: absolute; width:60mm; height:60mm; bottom: 0mm; left: 12mm;}*/

     .break {
        page-break-after: always;
        page-break-inside: avoid;
        break-after: always;
      }
  }
  </style>
<?php endif;